<nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar">icon1</span>
            <span class="icon-bar">icon2</span>
            <span class="icon-bar">icon3</span>
          </button>
          <a class="navbar-brand" href="/">BizTransfer.ca</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>

          <ul class="nav navbar-nav navbar-right">

          {% if session['logged'] %}
            <li><a href="/dashboard/">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">{{ session['name'] }}</a></li>
            <li><a href="/logout">Logout</a></li>
          {% else %}

            <li><a href="/signup">Sign up</a></li>
            <li><a href="/login">Login</a></li>
          {% endif %}

          </ul>

        </div>
      </div>
    </nav>