
{% extends "layout.html" %}

{% block content %}




<div class="container panel-default col-sm-12">


<!-- Fields test -->

    {% from "includes/_formhelpers.html" import render_field %}


<div class="panel panel-default">
    <div class="panel-heading"><h4>Enter data for an enterprise listing</h4></div>


<table class="table" style="width:100%" height="51px">
<form action="/add-biz" method="POST">

<tr>
    <th width="40%" class="form-group"><p>ID de l'entreprise</p></th>
    <th width="60%"><p>{{ newId }}</p></th>
</tr>
<tr>
    <td><label class="control-label">Nom de l'entreprise</label></td>
    <td>
        <div class="form-group">
            {{ render_field (form.ent_name, class_="form-control") }}
        </div>
    </td>
</tr>
<tr>
<td>NEQ</td>
<td>
    <div class="form-group">
        {{ render_field (form.neq, class_="form-control") }}
    </div>
</td>
</tr>
<tr>
    <td><p>Nom de la personne a contacter</p></td>
<td>
    <div class="form-group">
            {{ render_field (form.contact, class_="form-control") }}
    </div>
</td>
</tr>
<tr>
<td>Numéro de téléphone</td>
<td>
    <div class="form-group">
        {{ render_field (form.email, class_="form-control") }}
    </div>
</td>
</tr>
<tr>
<td>Courriel</td>
<td>
    <div class="form-group">
        {{ render_field (form.phone, class_="form-control") }}
    </div>
</td>
</tr>
<tr>
<td>EBITDA</td>
<td>
    <div class="form-group">
        {{ render_field (form.ebitda, class_="form-control") }}
    </div>
</td>
</tr>
<tr>
<td></td>
<td>
    <div class="input-group">
        <p><input type="submit" class="btn btn-primary" value="Submit"</p>
    </div>
</td>
</tr>
</form>
</table>
</div>







</div>



{% endblock %}
